<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include ('../partials/head') %>
  <title>Sign In</title>
</head>

<body>
  <div class="container">
    <div class="form-container">
      <h4>Sign in</h4>
      <form action="/auth/sign-in" method="POST">
        <div class="input-field">
          <label for="username">Username:</label>
          <input type="text" name="username" id="username" />
        </div>
        <div class="input-field">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" />
        </div>
        <button type="submit" class="btn teal waves-effect waves-light">Sign in</button>
        <br>
        <br>
        <p>if you don't have an account: </p>
        <a href="/auth/sign-up" class="btn waves-effect waves-light pink">Sign Up</a>
      </form>
    </div>
  </div>
</body>

</html>