<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include ('../partials/head') %>
    <title>Sign Up</title>

</head>

<body>
    <div class="container">
        <div class="form-container">
            <h4>Create a New Account</h4>
            <form action="/auth/sign-up" method="POST">
                <div class="input-field">
                    <input type="text" name="username" id="username" required />
                    <label for="username">Username</label>
                </div>

                <div class="input-field">
                    <input type="password" name="password" id="password" required />
                    <label for="password">Password</label>
                </div>

                <div class="input-field">
                    <input type="password" name="confirmPassword" id="confirmPassword" required />
                    <label for="confirmPassword">Confirm Password</label>
                </div>

                <button type="submit" class="btn teal waves-effect waves-light">Sign Up</button>
                <p>if you already have an account: </p>
                <a href="/auth/sign-in" class="btn waves-effect waves-light pink">Sign in</a>
            </form>
        </div>
    </div>

</body>

</html>