<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="teal">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">📚 Edit Book</a>
    </div>
</nav>
<!-- main content -->
 <div class="container">
  <form action="" class="col s12">
    <!-- Title field -->
    <div class="row">
      <div class="input-field col s12">
         <input type="text" name="title" id="title" value="<%= book.title %>" required>
         <label for="title">Title</label>
      </div>
   </div>
     <!-- Author feild -->
      <!-- Submit button -->
  </form>
 </div>
  
</body>
</html>