<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('../partials/head.ejs') %>
  <title>Document</title>
</head>
<body>
  <nav class="teal">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">📚 Library</a>
    </div>
</nav>
<!-- MAin Content -->
 <div class="container" id="bottomMargin">
  <h2 class=""
 </div>
  <h1>New Page</h1>
</body>
</html>

