
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%- include('../partials/head') %>
    <title>Library📚</title>
</head>
<body>
<%- include('../partials/nav') %>

<div class="container">
    <div class="center-align" style="margin-top: 40px;">
        <a href="/books" class="btn blue darken-1">Go to Books Page</a>
    </div>
    </div>
    
</body>
</html>
